<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
    	<header>
    		<h1>Blog-test creato in Python - Django Girls Milano 2017</h1>
    	</header>
    	<section>
    		<h2>Perchè questo test</h2>
	        <p>Ho creato questo blog durante la giornata di formazione organizzata da Django Girls Italia presso Mikamai, Milano, il 2 Dicembre 2017.</p>
	    </section>
	    <section>
	    	<h2>La formazione</h2>
	    	<p> Durante la giornata abbiamo seguito un tutorial online che ci ha permesso di acquisire le basi e gli strumenti per lavorare con Python, nello specifico con il framework Django. <a href="https://tutorial.djangogirls.org/it/">Clicca qui</a> per guardare il tutorial</p> 
	    </section>
	    <section>
	    	<h2>Cos'è Django Girls</h2>
	    	<p> E' una community che promuove la conoscenza di Django, Python e in generale la programmazione nel genere femminile, e organizza giornate gratuite di formazione con dei tutor che seguono le ragazze nello studio del tutorial. <a href="https://djangogirls.org/">Qui</a> trovi il sito dell'organizzazione internazionale e <a href="https://www.facebook.com/djangogirls/">qui</a> la pagina Facebook della community in Italia</p>
	    </section>
	    <section>
	    	<h2>Il blog</h2>
	    	<p> Qui puoi trovare l'elenco dei miei post</p>
	    </section>
    </body>
</html>